
body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

.card {
  background-color: rgba(1,1,1, 0.6);
  color: white;
  border-radius: 85px;

}

a:hover {
  opacity: 0.4;
}
